.a {
    background-color: #c10310;
    width: 500px;
    height: 500px;
}

.b {
    background-color: #0e5c31;
    height: 50%; 
    width: 50%;
}

.c {
    color: #111111;
    background-color: rgb(255, 234, 0);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.d {
    width: 50%;
    height: 50vh;
    background-color: rgb(84, 13, 192);
}

.e {
    width: 75vw;
    height: 50%;
    background-color: rgb(74, 50, 16);
}